body {
  margin: 0;

  font-family: Arial, sans-serif;

  background: black;
}

/* Hero zoom animation */

@keyframes zoomHero {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}
